@import "fonts.css";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
:root {
    --main-color: #fff7b2;
    --sub-color: #e31e25;
    --bg-color-l: #ffffff;
    --text-color-l: #000000;
    --bg-color-d: #2b2a28;
    --text-color-d: #ffffff;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    background: var(--bg-color-l);
}

section {
    margin: 10px 0;
}

header {
    border-bottom: 1px gray solid;
}

footer {
    padding: 30px 0;
    background: var(--bg-color-d);
    color: var(--text-color-d);
}


/* К хэдеру */

.nav-link {
    color: var(--text-color-l);
}

.nav-link:hover {
    color: var(--text-color-l);
}


/* К блоку с описание */

#description {
    min-height: 200px;
    max-height: 300px;
}

.description-text {
    position: relative;
    /* padding: 30px 10px; */
    margin: 50px 10px;
    font-size: 24px;
    /* border: 1px solid var(--sub-color); */
}

.description-text::before {
    content: '';
    width: 20%;
    height: 60%;
    position: absolute;
    left: -20px;
    top: -20px;
    border-left: 2px solid var(--sub-color);
    border-top: 2px solid var(--sub-color);
}

.description-text::after {
    content: '';
    width: 20%;
    height: 60%;
    position: absolute;
    right: -20px;
    bottom: -20px;
    border-right: 2px solid var(--sub-color);
    border-bottom: 2px solid var(--sub-color);
}


/* К карусели */

#carousel {
    background: var(--main-color);
}

.carousel-item {
    padding: 20px 10px 20px 0;
    min-height: 300px;
}

.carousel-item-content .text {
    margin-left: auto;
}

.carousel-item-content .author {
    font-weight: 800;
    margin-top: 10%;
    margin-left: auto;
}


/* К залам */

.headline,
.hall-name {
    margin: 10px 0;
    text-align: center;
}

.hall-name span {
    z-index: 100;
    position: relative;
}

.hall-name span::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10px;
    top: 15px;
    background: var(--main-color);
}